html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    font-family: 'Alata', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

header{
    opacity: 1 !important;
}

.header{
    background-color: #3077EA;
}


.contenedor{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 11.9rem;
}

.boton-buscar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 2px;
    margin-bottom: 40px;
}

.boton-buscar button{
    border-radius: 10px !important;
}

.boton-buscar button:before,
.boton-buscar button:after {

  background:none;
  transition: none;
}

.buscar{
    width: 50%;
    border-radius: 10px;
    padding: 10px
}

.primer-bloque{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px;
    gap: 4rem;
    
}

.primer-bloque a{
    text-decoration: none;
    border-radius: 2px;
    padding: 2px;
    color: white
}

.estrella{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #ECA400;
}

.carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: 1rem;
    gap: 1rem;
    border: solid 2px black;
    position: relative;
}

.carta1:hover {

    background-color:#ECA400 ;
    padding: 10px;
    border-radius: 10px;
}

.carta img{
    width: 100%;
    border-bottom: 10px solid black;
    margin: auto;
    border-radius: 20px;
}


.titulo{
    text-align: center;
    font-size: 4rem;
}

.titulos {
    width: 90%;
    font-size: 15px;
    margin: auto auto 5px auto;
}

.boton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.boton a{ 
    display: flex;
    background-color: #3077EA;
    border-radius: 5px;
    width: 50% !important;
    align-items: center;
    justify-content: center;
}


h2{

    display: flex;
    justify-content: center;
    background-color: #3077EA;
    border-radius: 10px;
    padding: 30px;
    font-size: 50px;
    text-align: center;
}

.container2{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

h3 {

    font-size: 20px;
}

.carta1 a {

    text-decoration: none;
    background-color: #3077EA ;
    color: white;
    margin-left: 40px;
}

.carta2:hover {

    background-color: #3077EA;
}



.boton2 {

    font-size: 20px;
    font-weight: bold;
    color: white;
    
}

.container2 a {

    text-decoration: none;
    font-size: 20px;
    background-color:#ECA400;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.places {
    display: flex;
    justify-content: space-around;
    background-color: #3077EA;
    
}

.places .container {
    padding: 20px 0 20px 0;
    place-items: center;
    justify-content: center;
    gap: 3rem;
}

.places a {

    text-decoration: none;
    background-color: #ECA400;
    border-radius: 40px;
    padding: 30px;
    font-size: 20px;
    color: white;
    text-align: center;
    place-items: center;
    width: 30%;
}

.places p {
 margin: 5px;
}


